HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=60s
HTTP_HEALTH_CHECK_TIMEOUT=2s
HTTP_ALLOWED_ORIGINS=http://localhost:3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=checklist
POSTGRES_PASSWORD=checklist
POSTGRES_DB=checklist
POSTGRES_TIMEOUT=5s

LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=./out/logs

TIME_ZONE=UTC
